<button type="button">
  <%= link_to 'New Recipe', new_recipe_path %>
<button>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <a href="#">
        <div>
          <h3><%= recipe.name %></h3>
        </div>
        <p><%= recipe.description %></p>
      </a>
    </li>
  <% end %>
</ul>